#home-container {
  min-height: 100vh;
  background-color: $blue;
}

#home-banner {
  margin-top: 6rem;
  color: white;

  h2 {
    font-size: 3rem;
    opacity: 0;
    transition: 2s ease-in;
  }
  h3 {
    font-size: 2rem;
    opacity: 0;
    transition: 2s ease-in;
  }
}

.skillset-title {
  margin: 2rem -1rem 0;
  opacity: 0;
  transition: 1s ease-in;
}

#home-btns {
  margin: 0 -1rem 4rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  max-width: 22rem;
  opacity: 0;
  transition: 1s ease-in;
}

.home-btn {
  cursor: pointer;
  padding: 1.2rem 1rem;
  text-align: center;
  margin: 0;
  min-height: 100%;
}

#home-tags {
  margin-top: 2rem;
  max-width: 25rem;
}

.regular-tag {
  font-weight: 100;
  transition: 1s;
  opacity: 0;
  margin: 0 0.4rem 0 0;
}

.highlight-tag {
  font-weight: 900;
  margin: 1rem 0 3rem;
  opacity: 0;
  transition: 3s ease-in;
}
