#navbar,
#fixed-navbar {
  padding: 0.9rem 2.5rem;
  display: flex;
  background-color: $blue;
  color: white;
  opacity: 0;

  p {
    margin: 0;
  }
}

#navbar {
  justify-content: flex-start;
  transition: 1s;
}

#fixed-navbar {
  justify-content: space-between;
  transition: 2s ease-out;
}

#nav-text {
  cursor: pointer;
}

nav {
  a {
    color: white;
  }
}

.navbar-nav {
  text-align: right !important;
}
