// #landing {
//   position: absolute;
// }

#blue-banner {
  // background-color: $blue;
  background-image: linear-gradient(to left, $light-blue 0%, $blue 60%);
  color: white;
  padding: 3rem 0 0 0;
  min-height: 100vh;
  width: calc(100vw - 350px);
  // flex-grow: 1;
  // max-width: 100%;
  // width: 100%;

  h2 {
    margin-bottom: 1.5rem;
  }
}

#banner-content {
  max-width: 600px;
  margin: 25px 25px 0 40px;
}

#skillset-text {
  margin: 3rem 0 1rem;
}

#landing-extra-info {
  margin: 3rem 0;

  hr {
    border-top: white 1px solid;
    margin-bottom: 2rem;
    margin-left: -20px;
  }
}

#landing-buttons {
  margin: 1rem 0;
}
