#personal-info {
  color: $light-blue;
  margin: 3rem 3rem 0 2rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  i {
    font-size: 1.2rem;
  }

  p,
  a {
    margin: 0.5rem 0.5rem 0 0;
  }
}
