//custom variables
$blue: #243e56;
$light-blue: #486784;
$lighter-blue: rgb(131, 151, 170);

@import "./components/avatar.scss";
@import "./components/blue-banner.scss";
@import "./components/button.scss";
@import "./components/carousel.scss";
@import "./components/cv.scss";
@import "./components/info-card.scss";
@import "./components/info-page.scss";
@import "./components/nav-tab.scss";
@import "./components/page-transitions.scss";
@import "./components/personal-info.scss";
@import "./components/project.scss";
@import "./components/tag.scss";

body {
  background-color: $blue;
  margin: 0;
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
